<h1><%=t('welcome')%></h1>
<b style="text-align:center">Abdurrahman Aksoy</b>
<footer class="footer">
<img src="http://storage.kucukoteller.com.tr/images/ce2643a90a3b222022ce1631b907d63ef969eb27.jpg">

</footer>